<%= form_for @candidate do |f| %>
    <% if @candidate.errors.any? %>
        <% @candidate.errors.full_messages.each do |msg| %>
            <p><%= msg %></p>
        <% end %>
    <% end %>
    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    <div class="field">
        <%= f.label :phone %>
        <%= f.text_field :phone %>
    </div>
    <div class="field">
        <%= f.label :city %>
        <%= f.text_field :city %>
    </div>

    <div class="field">
        <%= f.label :comment %>
        <%= f.text_area :comment %>
    </div>
    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>