<h1>Candidates</h1>

<div class="add-candidate-btn">
    <%= link_to "Create Candidate", new_candidate_path, :class => "btn" %>    
</div>

<div class="card-container">
    <% @candidates.each do |candidate| %>
    <div class="card">
        <img src="https://ualr.edu/studentaffairs/files/2020/01/blank-picture-holder.png" alt="Avatar" style="width:100%">
        <div class="content">
            <p><b><%= candidate.name %></b></p>
            <p><b>Phone num:</b> <%= candidate.phone %></p>
            <p><b>City:</b> <%= candidate.city %></p>
            <p><b>Comment:</b> <%= truncate(candidate.comment, :length => 20) %></p>
        </div>
        <div class="buttons">
            <%= link_to "See Details", candidate, :class => "btn" %>
            <%= link_to "Edit", edit_candidate_path(candidate), :class => "btn" %>
            <%= link_to "Delete", candidate_path(candidate), :class => "btn delete", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    </div>
    <% end %>
</div>   



