<div class="card-container" style="margin-top: 50px;">
    <div class="card" style="margin:auto">
        <img src="https://ualr.edu/studentaffairs/files/2020/01/blank-picture-holder.png" alt="Avatar" style="width:100%">
        <div class="content">
            <p><b><%= @candidate.name %></b></p>
            <p>Phone num: <%= @candidate.phone %></p>
            <p>City: <%= @candidate.city %></p>
            <p>Comment: <%= @candidate.comment %></p>
        </div>
        <div class="buttons">
            <%= link_to "Edit", edit_candidate_path(@candidate), :class => "btn" %>
            <%= link_to "Delete", candidate_path(@candidate), :class => "btn delete", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    </div>
</div>

<h3 style="margin-left: 50px">Candidate <%= @candidate.name %> has following skills:</h3>
<div class="thead bg-gray">
    <p class="item">Name</p>
    <p class="item">Experience</p>
    <p class="item">Type</p>
    <p class="item">Action</p>
</div>


<% @candidate.skills.each do |skill| %>
<div class="thead bg-light-gray">
    <p class="item"><%= skill.name %></p>
    <p class="item"><%= skill.experience %></p>
    <p class="item"><%= skill.typeOfSkill %></p>
    <p class="item"><%= link_to "X", [skill.candidate, skill], method: :delete, data: { confirm: "Are you sure?" } %></p>
</div>
<% end %>

<div class="registration-form">
  <header>
    <h3>Add skill</h3>
  </header>

    <%= form_for ([@candidate, @candidate.skills.build]) do |f| %>
    <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :experience %>
            <%= f.text_field :experience %>
        </div>
        <div class="field">
            <%= f.label :type %>
            <%= f.text_field :typeOfSkill %>
        </div>
        <div class="actions">
            <%= f.submit "Add Skill", :class => "btn" %>
        </div>
    <% end %>
</div>

